aiohttp>=3.0
opencensus-ext-azure
psutil
python-dotenv
websocket-client
memray
git+https://github.com/swathipil/azure-sdk-for-python.git@swathipil/sb/peek-msms-recvdelete-bug#subdirectory=sdk/servicebus/azure-servicebus&egg=azure-servicebus